doctype html
html(lang='ru')
	head
		title Colors and Type
		meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	body.wrapper-UI.wrapper-UI--background--write
		.header-UI
			img.header-UI__logo(src=require('../../assets/img/logo/logo__grey.svg').default, alt="")
		.container-UI
			//- .colors__rectangle--dark100 
			.colors
				mixin colorItem(title, hex)
					li.colors__item
						.colors__rectangle&attributes(attributes)
						.color__title= title
							p.color__hex= hex
				ul
					+colorItem('Dark Shade 100%', '#1F2041')(class='colors__rectangle--dark100')
					+colorItem('Dark Shade 75%', '#1F2041')(class='colors__rectangle--dark75')
					+colorItem('Dark Shade 50%', '#1F2041')(class='colors__rectangle--dark50')
					+colorItem('Dark Shade 25%', '#1F2041')(class='colors__rectangle--dark25')
					+colorItem('Dark Shade 5%', '#1F2041')(class='colors__rectangle--dark5')
					+colorItem('Purple', '#BC9CFF')(class='colors__rectangle--purple')
					+colorItem('Green', '#6FCF97')(class='colors__rectangle--green')
			.type
				mixin titleItem(title, text, modClass)
					li.type__item
						div(class='type__icon type__icon--' + modClass)
							span.type__box= title
						p(class='type__text type__text--' + modClass)= text
				ul.type__list
					+titleItem('H1', 'This one is the sub-section or widget title', 'h1')
					+titleItem('H2', 'Next one is the item title inside widgets', 'h2')
					+titleItem('H3', 'This is a label or CTA text', 'h3')
					+titleItem('Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'body')