mixin footer()
	.container
		section.footer__body.body-footer
			ul.body-footer__list
				li.body-footer__logo
					//- img.body-footer__img(src=require('../../../assets/img/logo/logo.svg').default, alt="#")
					p.body-footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные&nbsp;взгляды»
				li.body-footer__nav
					h2.body-footer__title навигация
					a.body-footer__link(href="") О нас
					a.body-footer__link(href="") Новости
					a.body-footer__link(href="") Служба поддержки
					a.body-footer__link(href="") Услуги
				li.body-footer__about
					h2.body-footer__title о нас
					a.body-footer__link(href="") О сервисе
					a.body-footer__link(href="") Наша команда
					a.body-footer__link(href="") Вакансии
					a.body-footer__link(href="") Инвесторы
				li.body-footer__support
					h2.body-footer__title Служба поддержки
					a.body-footer__link(href="") Соглашения
					a.body-footer__link(href="") Сообщества
					a.body-footer__link(href="") Связь с нами
				li.body-footer__subscription
					h2.body-footer__title Подписка
					p.body-footer__text Получайте специальные предложения и новости сервиса
					form.body-footer__form.form-body-footer(action="#")
						input.form-body-footer__email(type='text' placeholder="Email")
						button.form-body-footer__arrow(type='button')
							//- img(src=require('../../../assets/img/button/arrow.svg').default, alt='')
	.footer__border
		.container
			section.footer__copyright.copyright-footer
				p.copyright-footer__text Copyright © 2018 Toxin&nbsp;отель. Все&nbsp;права&nbsp;зачищены.
				.copyright-footer__socials
					//- img(src=require('../../../assets/img/social/twiter.svg').default, alt="")
					//- img(src=require('../../../assets/img/social/facebook.svg').default, alt="")
					//- img(src=require('../../../assets/img/social/instagram.svg').default, alt="")